<h4 style="color:#500202;">PUBLICATIONS</h4>
<p>Ali Afroozeh and Anastasia Izmaylova. <b><i>Operator Precedence for Data-Dependent Grammars</i></b>. Accepted to Symposium on Partial Evaluation and Program Manipulation (PEPM) 2016.</p>
<p>Anastasia Izmaylova, Ali Afroozeh, Tijs van der Storm. <b><i>Practical, General Parser Combinators</i></b>. Accepted to Symposium on Partial Evaluation and Program Manipulation (PEPM) 2016.</p>
<p>Ali Afroozeh and Anastasia Izmaylova. <b><i>One Parser to Rule Them All</i></b>. In Proceedings of the 2015 ACM International Symposium on New Ideas, New Paradigms, and Reflections on Programming & Software (Onward!), SPLASH'15, pages 151-170. ACM, 2015. </p>
<p>Ali Afroozeh and Anastasia Izmaylova. <b><i>Faster, Practical GLL Parsing</i></b>. In Compiler Construction (CC), 24th International Conference, LNCS 9031, pages 89-108. Springer, 2015.</p>
<p>Miguel Garcia, Anastasia Izmaylova and Sibylle Schupp. <b><i>Extending Scala with Database Query Capability</i></b>. In the Journal of Object Technology, July 2010.</p>
<p>Stamatis Karnouskos and Anastasia Izmaylova. <b><i>Simulation of Web Service Enabled Smart Meters in an Event-Based Infrastructure</i></b>. SAP Research, Karlsruhe, Germany. In INDIN'09: Proceedings of the 7th IEEE International Conference on Industrial Informatics, pages 125-130, UK, 2009</p>
<h5 style="color:#500202;">TECHNICAL REPORTS:</h5>
<p>Miguel Garcia and Anastasia Izmaylova. <b><i>Compiling LINQ and a Scala subset into SQL: 1999</i></b>. Technical report, Institute for Software Systems, Hamburg University of Technology, Germany, Sep. 2009.</p>
<h5 style="color:#500202;">THESES:</h5>
<p>Anastasia Izmaylova. <b><i>Program Transformation in the Scala programming language</i></b>. Master thesis, Hamburg University of Technology, Germany, Institute for Software Systems, October 2009.</p>
<p>Anastasia Izmaylova. <b><i>Calculation and realization of three dimensionally curved mechanical trajectories of an unmanned vehicle</i></b>. Dipl.-Eng. thesis, Bauman Moscow State Technical University, Russia, Department of Mathematical Modelling, July 2009.</p>

