<h4 style="color:#500202;">PUBLICATIONS</h4>
<p>Ali Afroozeh and Anastasia Izmaylova. <b>Operator Precedence for Data-Dependent Grammars</b>. Accepted to Symposium on Partial Evaluation and Program Manipulation (PEPM) 2016. <a href="">PDF</a></p>
<p>Anastasia Izmaylova, Ali Afroozeh, Tijs van der Storm. <b>Practical, General Parser Combinators</b>. Accepted to Symposium on Partial Evaluation and Program Manipulation (PEPM) 2016. <a href="">PDF</a></p>
<p>Ali Afroozeh and Anastasia Izmaylova. <b>One Parser to Rule Them All</b>. In Proceedings of the 2015 ACM International Symposium on New Ideas, New Paradigms, and Reflections on Programming & Software (Onward!), SPLASH'15, pages 151-170. ACM, 2015. <a href="">PDF</a></p>
<p>Ali Afroozeh and Anastasia Izmaylova. <b>Faster, Practical GLL Parsing</b>. In Compiler Construction (CC), 24th International Conference, LNCS 9031, pages 89-108. Springer, 2015. <a href="">PDF</a></p>
<p>Miguel Garcia, Anastasia Izmaylova and Sibylle Schupp. <b>Extending Scala with Database Query Capability</b>. In the Journal of Object Technology, July 2010. <a href="">PDF</a></p>
<p>Stamatis Karnouskos and Anastasia Izmaylova. <b>Simulation of Web Service Enabled Smart Meters in an Event-Based Infrastructure</b>. SAP Research, Karlsruhe, Germany. In INDIN'09: Proceedings of the 7th IEEE International Conference on Industrial Informatics, pages 125-130, UK, 2009. <a href="">PDF</a></p>
<h5 style="color:#500202;">DRAFTS:</h5>
<p>Ali Afroozeh and Anastasia Izmaylova. <b>A Practical Data-dependent Parsing Framework</b>. Submitted, under review.
<p>Anastasia Izmaylova and Paul Klint. <b>Using Coroutines for Modular Compilation of Pattern Matching</b>. To be submitted.</p>
<h5 style="color:#500202;">TECHNICAL REPORTS:</h5>
<p>Miguel Garcia and Anastasia Izmaylova. <b>Compiling LINQ and a Scala subset into SQL: 1999</b>. Technical report, Institute for Software Systems, Hamburg University of Technology, Germany, Sep. 2009. <a href="">PDF</a></p>
<h5 style="color:#500202;">THESES:</h5>
<p>Anastasia Izmaylova. <b>Program Transformation in the Scala programming language</b>. Master thesis, Hamburg University of Technology, Germany, Institute for Software Systems, October 2009. <a href="">PDF</a></p>
<p>Anastasia Izmaylova. <b>Calculation and realization of three dimensionally curved mechanical trajectories of an unmanned vehicle</b>. Dipl.-Eng. thesis, Bauman Moscow State Technical University, Russia, Department of Mathematical Modelling, July 2009.</p>

